html {
  font-family: Staatliches;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: Staatliches;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

.cover-image {
  height: 98vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.post-body {
  display: flex;
  flex-direction: row;
}

.post-column-left {
  flex: 1;
  background-color: rgb(216, 219, 216);
}

.post-column-center {
  flex: 3;
  padding: 20px 0;
}

.post-column-right {
  flex: 2;
  background-color: rgb(202, 202, 249);
}

.post-breadcrumbs {

}

.post-social-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}

.post-social-items {
  margin: 0 40px;
  width: 50px;
  background-color: blue;
  height: 150px;
}

.post-meta {
  padding: 10px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.post-body-content {
  padding-top: 20px;
  font-family:Arial, Helvetica, sans-serif
}

.post-author-wrapper {
  display: flex;
  align-items: flex-start;
}

.post-author {
  height: 1200px;
  width: 300px;
  margin: 43px 100px;
  background-color: blue;
}

.background-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.foreground-container {
  z-index: 10;
}

.boom {
  font-size: 150px;
  margin-bottom: -20px;
  text-align: center;
}

/* ################### */
/* ######## NAV ###### */
/* ################### */

.uk-nav {
  font-size: 24px;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
  padding: 0 20px;
}

.uk-button {
  font-size: 24px;
}

.rb-absolute-nav {
  position: absolute;
  width: 100%;
}

.rb-navbar-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.regions {
  height: 300px;
  background-color: #eee;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discover {
  height: 500px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.rb-popular {
  height: 800px;
  background-color: rgb(176, 228, 185);
}

.rb-recent {
  background-color: rgb(255, 255, 255);
}

.rb-logo {
  color: black;
  z-index: 999;
  margin: 10px;
}

.rb-subscribe {
  color: black;
  z-index: 999;
  margin: 0;
}

/* ################### */
/* ####### HOME ###### */
/* ################### */

.home-hero {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  overflow: hidden;
  position: relative;
}

/* ################### */
/* ### DESTINATION ### */
/* ################### */

.destination-hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  overflow: hidden;
  position: relative;
}

.destination-hero-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.destination-regions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.destination-region-separator {
  background-color: red;
  width: 1px;
  height: 50px;
}

.destination-regions-link {
  padding: 20px;
}

/* ################### */
/* ###### VIDEO ###### */
/* ################### */

.videos {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  /* justify-content: center; */
  /* background-color: rgb(3, 143, 28); */
}

.videos-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1150px;
}

.primary-video-tile {
  background-color: rgb(37, 1, 240);
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 25px;
}

.secondary-video-container {
  margin-top: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.secondary-video-tile {
  background-color: rgb(37, 1, 240);
  flex: 1;
  height: 120px;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px 30px;
}

/* ################### */
/* ###### POPULAR #### */
/* ################### */

.popular-container {
  display: flex;
  flex: 1;
  /* background-color: rgb(0, 167, 209); */
  flex-direction: column;
  padding: 100px 100px;
  justify-content: center;
  align-items: center;
}

.popular-inner-container {
  display: flex;
  max-width: 1250px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

.popular-post-tile {
  background-color: rgb(6, 195, 54);
  flex: 1;
  /* margin: 10px; */
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  padding: 30px;
}

/* ################### */
/* ###### RECENT ##### */
/* ################### */

.recent-container {
  display: flex;
  flex: 1;
  padding: 50px 0 100px 0;
  flex-direction: column;
  align-items: center;
}

.recent-inner-container {
  width: 100%;
  /* background-color: yellow; */
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  max-width: 1250px;
}

.recent-primary-post-tile {
  background-color: red;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  max-width: 1250px;
  max-height: 600px;
  border-radius: 15px;
  overflow: hidden;
  padding: 30px;
  margin-bottom: 20px;
}

.recent-post-tile {
  background: red;
  height: 450px;
  border-radius: 15px;
  padding: 30px;
  max-width: 250px;
}

/* ################### */
/* ##### REGIONS ##### */
/* ################### */

.destination-regions {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* ################### */
/* ##### AFFILIATES ##### */
/* ################### */

.affiliates {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.affiliates-container {
  width: 100%;
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  max-width: 1250px;
}

.affiliates-tile {
  background: rgb(200, 200, 200);
  height: 50px;
  border-radius: 15px;
  padding: 30px;
  max-width: 250px;
}

/* ################### */
/* ####### OTHER ##### */
/* ################### */

.other {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.other-container {
  width: 100%;
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  max-width: 1000px;
}

.other-tile {
  background: rgb(200, 200, 200);
  height: 50px;
  border-radius: 15px;
  padding: 30px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.other-title, .other-subtitle {
  margin: 0;
  padding: 0;
}

/* ################### */
/* ###### FOOTER ##### */
/* ################### */

.footer {
  height: 2000px;
  background-color: rgb(8, 8, 9);
}
